hr.fancy-hr {
  border-top-style: solid;
  border-top-width: 2px;
  opacity: 1;
}

hr.fancy-hr:after {
  content: ' ';

  /* Display */
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 10px;

  /* Positioning */
  position: relative;
  top: 2px;
}
