<h1 class="title">Log In</h1>

<% if error.is_a?(Authentication::Errors::InvalidLogin) %>
<% form_errors = error.errors&.with_messages %>
<% else %>
<% form_errors = nil %>
<% end %>

<%= form_with url: authentication_session_path do |form| %>
  <%=
    render(
      View::Components::FormField.new(
        'username',
        icon:   'user',
        errors: form_errors
      )
    )
  %>

  <%=
    render(
      View::Components::FormField.new(
        'password',
        icon:   'key',
        errors: form_errors,
        type:   'password'
      )
    )
  %>

  <div class="field">
    <div class="control">
      <%=
        render(
          View::Components::Button.new(
            color: 'primary',
            label: 'Log In',
            type:  'submit'
          )
        )
      %>
    </div>
  </div>
<% end %>
