<div class="content">
  <h1>Not Found</h1>

  <p>
    This is not a place of honor.<br>
    No highly esteemed deed is commemorated here.<br>
    Nothing valued is here.
  </p>

  <p>
    What is here was dangerous and repulsive to us.<br>
    This message is a warning about danger.<br>
    The danger is still present, in your time, as it was in ours.
  </p>

  <p>
    This place is best shunned and left uninhabited.
  </p>
</div>
