<div class="page is-flex is-flex-direction-column">
  <%= render(::View::Layouts::Page::Banner.new(navigation: navigation)) %>

  <section class="section primary-content is-flex-grow-1">
    <div class="container">
      <% if current_user %>
      <%=
        render(::View::Layouts::Page::Session.new(current_user: current_user))
      %>
      <% end %>

      <%= content %>
    </div>
  </section>

  <%= render(::View::Layouts::Page::Footer.new) %>
</div>
