@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #fff;
  --bg-color-accent: #eee;

  --link-color: #00e;
  --link-color-hover: #00f;

  --text-color: #111;
  --text-color-strong: #000;
}

@layer base {
  .theme-default-styles {
    @apply bg-[color:var(--bg-color)] text-[color:var(--text-color)];

    h1, h2, h3, h4, h5, h6 {
      @apply font-serif;
      @apply text-[color:var(--text-color-strong)];
    }

    a {
      @apply text-[color:var(--link-color)];
      @apply hover:underline hover:text-[color:var(--link-color-hover)];
    }

    td, th {
      @apply align-top leading-none pb-2 pt-1 px-3;
    }

    th {
      text-align: left;
    }
  }
}

@layer components {
  .theme-default-styles {
    .alert {
      @apply border border-solid mt-1 px-2 py-1 rounded-lg;
    }

    .button {
      @apply border border-solid mt-3 mb-3 px-3 py-1 rounded-lg w-full;
    }

    .data-list {
      .data-list-item {
        @apply mb-3;

        .data-list-label {
          @apply font-bold inline-block mb-1 w-full lg:mb-0 lg:w-1/6;
        }

        .data-list-value {
          @apply inline-block w-full lg:w-5/6;
        }
      }
    }

    .data-table {
      @apply max-w-full overflow-x-scroll;
    }

    .form-button {
      @apply border border-solid mt-3 mb-3 px-3 py-1 rounded-lg w-full;
    }

    .form-field-errors {
      @apply relative text-sm;

      top: -0.75rem;
    }

    .form-input {
      @apply border border-solid mt-1 mb-3 p-1 rounded-lg w-full;
    }

    .form-label {
      @apply block;
    }

    .page-breadcrumbs {
      .page-breadcrumb {
        @apply p-1 first:pl-0;
        @apply sm:before:content-['/'] sm:before:pr-2 first:before:content-none;
      }
    }

    .page-navigation {
      .dropdown-item {
        @apply font-serif;
      }

      .dropdown-label {
        @apply font-serif;
      }

      .navigation-item {
        @apply font-serif;
      }
    }

    .page-subtitle {
      @apply font-serif;
    }

    .page-title {
      @apply font-serif;
    }
  }
}

@layer utilities {
  .theme-default-styles {
    .data-table.data-table-collapse {
      table {
        @apply block sm:table;
      }

      tbody {
        @apply block sm:table-row-group;
      }

      th, td {
        @apply block px-0 sm:px-3 sm:table-cell;
      }

      th[data-label]:before, td[data-label]:before {
        content: attr(data-label) ": ";

        @apply block font-semibold mb-1 sm:hidden sm:invisible;
      }

      thead {;
        @apply hidden invisible sm:table-header-group sm:visible;
      }

      th:empty, td:empty {;
        @apply hidden invisible sm:table-cell sm:visible;
      }

      tr {
        @apply block sm:table-row;
      }
    }

    .hr-fancy {
      border-top-style: solid;
      border-top-width: 2px;
      opacity: 1;
      overflow: visible;

      &:after {
        content: ' ';

        /* Display */
        display: block;
        border-top-style: solid;
        border-top-width: 1px;
        margin: 0 10px;

        /* Positioning */
        position: relative;
        top: 2px;
      }
    }
  }
}
