@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fff;
  --color-bg-dark: #000;
  --color-bg-accent: #eee;
  --color-bg-accent-dark: #111;

  --color-text: #eee;
  --color-text-dark: #111;
  --color-text-accent: #fff;
  --color-text-accent-dark: #000;

  /* ACCENT COLORS */

  --color-danger: #f00;
  --color-danger-dark: var(--color-danger);
  --color-danger-accent: var(--color-danger);
  --color-danger-accent-dark: var(--color-danger);
  --color-danger-bg: #fee;
  --color-danger-bg-dark: #100;

  --color-info: #0ff;
  --color-info-dark: var(--color-info);
  --color-info-accent: var(--color-info);
  --color-info-accent-dark: var(--color-info);
  --color-info-bg: #eff;
  --color-info-bg-dark: #011;

  --color-muted: #888;
  --color-muted-dark: var(--color-muted);
  --color-muted-accent: var(--color-muted);
  --color-muted-accent-dark: var(--color-muted);
  --color-muted-bg: #eee;
  --color-muted-bg-dark: #111;

  --color-primary: #00f;
  --color-primary-dark: var(--color-primary);
  --color-primary-accent: var(--color-primary);
  --color-primary-accent-dark: var(--color-primary);
  --color-primary-bg: #eef;
  --color-primary-bg-dark: #001;

  --color-success: #0f0;
  --color-success-dark: var(--color-success);
  --color-success-accent: var(--color-success);
  --color-success-accent-dark: var(--color-success);
  --color-success-bg: #efe;
  --color-success-bg-dark: #010;

  --color-warning: #ff0;
  --color-warning-dark: var(--color-warning);
  --color-warning-accent: var(--color-warning);
  --color-warning-accent-dark: var(--color-warning);
  --color-warning-bg: #ffe;
  --color-warning-bg-dark: #001;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply mt-1;
  }

  h1 {
    @apply mb-1;

    font-size: 2.5rem;
    line-height: 3rem;
  }

  h2 {
    @apply text-4xl;
    @apply mb-1;
  }

  h3 {
    @apply text-3xl;
    @apply mb-1;
  }

  h4 { @apply text-2xl; }

  h5 { @apply text-xl; }

  a { @apply cursor-pointer; }

  p {
    @apply mb-1;
  }
}

@layer components {
  .btn, a.btn {
    @apply border border-solid inline-block mx-1 my-3 px-3 py-1 rounded-lg;

    @apply
      text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
      hover:text-[color:var(--color-bg)] hover:dark:text-[color:var(--color-bg-dark)] hover:no-underline
      bg-[color:var(--color-bg-dark)] dark:bg-[color:var(--color-bg)]
      active:bg-[color:var(--color-bg-accent-dark)] dark:active:bg-[color:var(--color-bg-accent)]
      disabled:active:bg-[color:var(--color-bg-dark)] disabled:dark:active:bg-[color:var(--color-bg)]
      border-[color:var(--color-bg-dark)] dark:border-[color:var(--color-bg)];

    &.btn-lg {
      @apply px-4 py-2;
    }

    &.btn-sm {
      @apply px-2 py-0.5;
    }
  }

  .btn-list .btn {
    @apply mx-0 my-1 sm:mr-1;
  }

  .page-breadcrumbs {
    @apply mt-2;

    .page-breadcrumb {
      .page-breadcrumb-empty {
        @apply cursor-default select-none hover:no-underline;
      }

      .page-breadcrumb-link {
        @apply hover:no-underline;
      }
    }
  }

  .page-navigation {
    .dropdown-container {
      @apply block leading-6 mb-1 mx-1 text-xl sm:mb-0 sm:max-h-6 sm:leading-9;
    }

    .dropdown-label {
      @apply leading-6 px-1;
    }

    .dropdown-item {
      @apply leading-6 mt-1 text-lg px-1 last:mb-1 sm:first:mt-3;
    }

    .dropdown-item-link {
      @apply hover:no-underline;
    }

    .dropdown-item-link-disabled {
      @apply cursor-default select-none hover:no-underline;
    }

    .navigation-item {
      @apply block leading-6 mb-1 mx-2 text-xl sm:leading-9 sm:mb-0 sm:first:ml-0;
    }

    .navigation-item-link {
      @apply hover:no-underline;
    }

    .navigation-item-link-disabled {
      @apply cursor-default mb-0 select-none hover:no-underline;
    }
  }

  .page-subtitle {
    @apply text-3xl;
  }

  .page-title {
    @apply text-5xl;
  }
}

@layer utilities {
  b,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    &.text-danger {
      @apply text-[color:var(--color-danger-accent)] dark:text-[color:var(--color-danger-accent-dark)];
    }

    &.text-info {
      @apply text-[color:var(--color-info-accent)] dark:text-[color:var(--color-info-accent-dark)];
    }

    &.text-muted {
      @apply text-[color:var(--color-muted-accent)] dark:text-[color:var(--color-muted-accent-dark)];
    }

    &.text-primary {
      @apply text-[color:var(--color-primary-accent)] dark:text-[color:var(--color-primary-accent-dark)];
    }

    &.text-success {
      @apply text-[color:var(--color-success-accent)] dark:text-[color:var(--color-success-accent-dark)];
    }

    &.text-warning {
      @apply text-[color:var(--color-warning-accent)] dark:text-[color:var(--color-warning-accent-dark)];
    }
  }

  .btn, a.btn {
    &.btn-outline {
      @apply
        text-[color:var(--color-bg-dark)] dark:text-[color:var(--color-bg)]
        bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
        active:bg-[color:var(--color-bg-accent)] dark:active:bg-[color:var(--color-bg-accent-dark)]
        border-[color:var(--color-text)] dark:border-[color:var(--color-text-dark)];
    }

    &.btn-danger {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-danger)] dark:bg-[color:var(--color-danger-dark)]
        active:bg-[color:var(--color-danger-accent)] dark:active:bg-[color:var(--color-danger-accent-dark)]
        disabled:active:bg-[color:var(--color-danger)] disabled:dark:active:bg-[color:var(--color-danger-dark)]
        border-[color:var(--color-danger)] dark:border-[color:var(--color-danger-dark)];

      &.btn-outline {
        @apply
          text-[color:var(--color-danger)] dark:text-[color:var(--color-danger-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-danger-bg)] dark:active:bg-[color:var(--color-danger-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-danger)] dark:border-[color:var(--color-danger-dark)];
      }
    }

    &.btn-info {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-info)] dark:bg-[color:var(--color-info-dark)]
        active:bg-[color:var(--color-info-accent)] dark:active:bg-[color:var(--color-info-accent-dark)]
        disabled:active:bg-[color:var(--color-info)] disabled:dark:active:bg-[color:var(--color-info-dark)]
        border-[color:var(--color-info)] dark:border-[color:var(--color-info-accent)];

      &.btn-outline {
        @apply
          text-[color:var(--color-info)] dark:text-[color:var(--color-info-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-info-bg)] dark:active:bg-[color:var(--color-info-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-info)] dark:border-[color:var(--color-info-dark)];
      }
    }

    &.btn-muted {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-muted)] dark:bg-[color:var(--color-muted-dark)]
        active:bg-[color:var(--color-muted-accent)] dark:active:bg-[color:var(--color-muted-accent-dark)]
        disabled:active:bg-[color:var(--color-muted)] disabled:dark:active:bg-[color:var(--color-muted-dark)]
        border-[color:var(--color-muted)] dark:border-[color:var(--color-muted-dark)];

      &.btn-outline {
        @apply
          text-[color:var(--color-muted)] dark:text-[color:var(--color-muted-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-muted-bg)] dark:active:bg-[color:var(--color-muted-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-muted)] dark:border-[color:var(--color-muted-dark)];
      }
    }

    &.btn-primary {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-primary)] dark:bg-[color:var(--color-primary-dark)]
        active:bg-[color:var(--color-primary-accent)] dark:active:bg-[color:var(--color-primary-accent-dark)]
        disabled:active:bg-[color:var(--color-primary)] disabled:dark:active:bg-[color:var(--color-primary-dark)]
        border-[color:var(--color-primary)] dark:border-[color:var(--color-primary-accent)];

      &.btn-outline {
        @apply
          text-[color:var(--color-primary)] dark:text-[color:var(--color-primary-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-primary-bg)] dark:active:bg-[color:var(--color-primary-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-primary)] dark:border-[color:var(--color-primary-dark)];
      }
    }

    &.btn-success {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-success)] dark:bg-[color:var(--color-success-dark)]
        active:bg-[color:var(--color-success-accent)] dark:active:bg-[color:var(--color-success-accent-dark)]
        disabled:active:bg-[color:var(--color-success)] disabled:dark:active:bg-[color:var(--color-success-dark)]
        border-[color:var(--color-success)] dark:border-[color:var(--color-success-dark)];

      &.btn-outline {
        @apply
          text-[color:var(--color-success)] dark:text-[color:var(--color-success-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-success-bg)] dark:active:bg-[color:var(--color-success-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-success)] dark:border-[color:var(--color-success-dark)];
      }
    }

    &.btn-warning {
      @apply
        text-[color:var(--color-bg)] dark:text-[color:var(--color-bg-dark)]
        bg-[color:var(--color-warning)] dark:bg-[color:var(--color-warning-dark)]
        active:bg-[color:var(--color-warning-accent)] dark:active:bg-[color:var(--color-warning-accent-dark)]
        disabled:active:bg-[color:var(--color-warning)] disabled:dark:active:bg-[color:var(--color-warning-dark)]
        border-[color:var(--color-warning)] dark:border-[color:var(--color-warning-dark)];

      &.btn-outline {
        @apply
          text-[color:var(--color-warning)] dark:text-[color:var(--color-warning-dark)]
          bg-[color:var(--color-bg)] dark:bg-[color:var(--color-bg-dark)]
          active:bg-[color:var(--color-warning-bg)] dark:active:bg-[color:var(--color-warning-bg-dark)]
          disabled:active:bg-[color:var(--color-bg)] disabled:dark:active:bg-[color:var(--color-bg-dark)]
          border-[color:var(--color-warning)] dark:border-[color:var(--color-warning-dark)];
      }
    }
  }

  .text-danger {
    @apply text-[color:var(--color-danger)] dark:text-[color:var(--color-danger-dark)];
  }

  .text-info {
    @apply text-[color:var(--color-info)] dark:text-[color:var(--color-info-dark)];
  }

  .text-muted {
    @apply text-[color:var(--color-muted)] dark:text-[color:var(--color-muted-dark)];
  }

  .text-primary {
    @apply text-[color:var(--color-primary)] dark:text-[color:var(--color-primary-dark)];
  }

  .text-success {
    @apply text-[color:var(--color-success)] dark:text-[color:var(--color-success-dark)];
  }

  .text-warning {
    @apply text-[color:var(--color-warning)] dark:text-[color:var(--color-warning-dark)];
  }
}
