<div class="navbar-brand">
  <%=
    render(
      View::Components::Link.new(
        url,
        class_names: %w[navbar-item pl-1],
        color:       'black',
        icon:        icon,
        label:       label
      )
    )
  %>

  <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </a>
</div>
