<div class="navbar-menu">
  <div class="navbar-start">
    <% left_items.each do |item| %>
    <%= render(View::Layouts::Page::Navigation::Item.new(item: item)) %>
    <% end %>
  </div>

  <div class="navbar-end">
    <% right_items.each do |item| %>
    <%= render(View::Layouts::Page::Navigation::Item.new(item: item)) %>
    <% end %>
  </div>
</div>
