<section class="banner hero is-small">
  <div class="hero-body">
    <div class="container">
      <p class="title">Librum</p>

      <p class="subtitle">Tabletop Campaign Companion</p>

      <%= render(::View::Layouts::Page::Navigation.new) %>

      <hr class="is-fancy-hr">
    </div>
  </div>
</section>
