<nav class="navbar is-size-5" role="navigation" aria-label="main-navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <i class="fa-solid fa-dice-d20 mr-1"></i>
      Home
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
