<nav class="navbar is-size-5" role="navigation" aria-label="main-navigation">
  <%= render(View::Layouts::Page::Navigation::Brand.new(config: config)) %>

  <%= render(View::Layouts::Page::Navigation::Menu.new(items: config.items)) %>
</nav>
