/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* LAYOUT */

html, body, body > div.page {
  height: 100%;
}

.page > .banner {
  padding: 0 1.5rem;
}

@media screen and (min-width: 1024px) {
  .page > .banner {
    padding: 0 3rem;
  }
}

.page > .banner > .hero-body {
  padding: 1.5rem 0;
}

.page > .banner .subtitle {
  margin-bottom: 0;
}

.page > .banner hr {
  margin-top: 0;
  margin-bottom: 0;
}

.page > section.primary-content {
  padding-top: 0;
}

.page > section.primary-content .container h1:first-child {
  margin-top: 0;
}

.page > footer.footer {
  padding: 1.5rem 1rem 2rem;
}

/* COMPONENTS */

hr.is-fancy-hr {
  border-top-style: solid;
  border-top-width: 2px;
  opacity: 1;
  overflow: visible;
}

hr.is-fancy-hr:after {
  content: ' ';

  /* Display */
  display: block;
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 10px;

  /* Positioning */
  position: relative;
  top: 2px;
}
