<% if render_icon? && render_label? %>
<span class="icon-text">
  <span class="icon">
    <i class="fas fa-<%= icon %>"></i>
  </span>
  <span><%= label %></span>
</span>
<% elsif render_icon? %>
<span class="icon">
  <i class="fas fa-<%= icon %>"></i>
</span>
<% else %>
<%= label %>
<% end %>
