<!DOCTYPE html>
<html>
  <head>
    <title>Librum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csp_meta_tag %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
